@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Homenaje&family=Palanquin+Dark:wght@700&display=swap&family=Alata&display=swap');

@font-face{
    font-family: 'Kiona';
    src: url(../fonts/Kiona-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    outline: none!important;
    -webkit-user-drag: none;
    scroll-behavior: smooth;
}
.svg-icon {
    width: 1em;
    height: 1em;
  }
  
  .svg-icon path,
  .svg-icon polygon,
  .svg-icon rect {
    fill: #000000;
  }
  
  .svg-icon circle {
    stroke: #000000;
    stroke-width: 1;
  }


/* NAVBAR */
.navbar{
    background: rgb(0, 0, 0);
    border-bottom: 1px solid rgba(58, 58, 58, 0.4);
}
.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 70%;
    margin: auto;
}

.navbar-logo img{
    width: 100px;
}

.navbar-link{
    padding-top: 15px;
}

.navbar-link ul{
    display: flex;
    flex-direction: row;
}
.navbar-link ul li{
    list-style: none;
    margin: 0px 10px;
    padding: 10px;
}
.navbar-link ul li a{
    color: white;
    font-weight: 700;
    text-decoration: none;
    font-family: 'Alata';
    transition: 0.2s;
}
/* Dropdown Button */
.dropbtn {
    background: none;
    border: none;
    font-weight: 700;
    font-family: 'Alata';
    color: white;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    border: none!important;
    
  }
  
.dropdown-content {
    display: none;
    position: absolute;
    left: -100px;
    top: 25px;
    background-color: #ffffff;
    border: 1px solid rgba(161, 161, 161, 0.1);
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgba(161, 161, 161, 0.5);
    min-width: 300px;
    padding: 20px;
    z-index: 1;
    animation: motionfade 0.3s ease-in-out;
  }

.dropdown-content span {
    font-family: 'Kiona';
    font-size: 12px;
    color: rgb(156, 156, 156);
} 
  
.dropdown-content a{
    color: black!important;
    margin: 10px 20px;
    padding: 0!important;
    text-decoration: none;
    display: block;
    font-family: 'Alata';
    transition: 0.2s;
  }

.dropdown-content a:hover{
    color: rgb(216, 103, 103)!important;
}
  
.dropdown:hover .dropdown-content {display: block;}
  
.active-page{
    color: rgb(216, 103, 103)!important;
    border-top: 2px solid rgb(216, 103, 103);
    padding-top: 22px;
    cursor: default;
}
.product-list-fulllist{
    display: flex;
    flex-direction: row;
    cursor: pointer;
    padding-top: 20px;
    border-top: 1px solid rgb(223, 223, 223);
    transition: 0.2s;
}
.product-list-fulllist:hover{
    transform: translateX(10px);
}
.product-list-fulllist h2{
    font-family: 'Didact Gothic';
    font-size: 16px;
    font-weight: 700;
    margin-right: 5px;
}   
.product-list-fulllist svg{
    font-size: 18px;
    margin-top: -5px;
}

.navbar-download-product {
    padding: 10px 20px !important;
    border-radius: 5px;
    background: rgb(255, 255, 255);

    cursor: pointer;
}

.navbar-download-product a {
    color: black !important;
}

/* Inicio */
.header-home{
    background: url('../imgs/headerbackground.png') no-repeat;
    background-size: cover;
    padding: 100px 0px;
}
.header{
    margin: 80px 0px;
}
.header-home
,.header-title{
    text-align: center;
    font-family: 'Didact Gothic';
}
.header-home
,.header-title a{
    font-size: 20px;
}
.header-home h1{
    color: white;
    font-size: 70px;
    font-family: 'Didact Gothic';
}
.header h1{
    font-size: 60px;
}
.header-home h3{
    font-family: 'Didact Gothic';
    font-weight: 100;
    color: rgb(175, 175, 175);
    font-size: 18px;
    margin: 40px 0px 70px;
    font-weight: 100;
}
.header h3{
    font-size: 30px;
    font-weight: 100;
}
.header-home a{
    background: rgb(216, 103, 103);
    padding: 20px 60px;
    border-radius: 50px;
    font-size: 20px;
    font-family: 'Didact Gothic';
    color: black;
    text-decoration: none;
    transition: 0.2s;
}
.header-home a:hover{
    color: black;
    text-decoration: none;
}
.header-home-title
,.header-title span{
    font-weight: 700;
    font-size: 22px;
    margin-top: 20px;
}
/* Wave */
.wave-divider{
    position: relative;
    z-index: 2;
    bottom: 0;
    margin-top: 100px;
    margin-bottom: -100px;
    left: 0;
    width: 100%;
    overflow: hidden;
}
.wave-divider svg{
    width: 100%;
}
.wave-divider svg path{
    fill: rgb(255, 255, 255);
    animation: waveanimation 15s linear infinite alternate;
}

/* Home */
.home{
    background: white;
}
.home-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    padding: 50px 30px;
}
.home-lefttab{
    width: 900px;
    padding: 0px 30px;
}
.home-rightab{
    width: 400px;
    padding: 0px 30px;
}
.home-features h1{
    font-family: 'Alata';
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: rgb(146, 146, 146);

    margin-bottom: 40px;
}
.featured-product{
    background: rgb(243, 243, 243);
    padding: 30px;
    margin: 20px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    transition: 0.2s;
    border-radius: 5px;
    overflow: hidden;
}
.featured-product h2{
    font-size: 18px;
    font-family: 'Didact Gothic';
    font-weight: 700;
}
.product-see-more{
    margin: auto 0px;
    margin-left: 20px;
    font-size: 30px;
    transition: 0.2s;
}
.featured-product:hover,
.featured-product-template:hover{
    background: rgb(238, 237, 237);
}
.featured-product:hover .product-see-more{
    transform: translateX(10px);
}
.featured-product-fulllist{
    display: flex;
    flex-direction: row;
    cursor: pointer;
    width: 150px;
    margin-top: 10px;
    transition: 0.2s;
}
.featured-product-fulllist:hover{
    transform: translateX(20px);
}
.featured-product-list h2{
    font-family: 'Didact Gothic';
    font-size: 20px;
    font-weight: 700;
    margin-right: 10px;
}

.featured-product-template {
    position: relative;
    display: flex;
    flex-direction: row;
    
    margin: 20px 0px;

    border-radius: 5px;
    background: rgb(243, 243, 243);

    cursor: pointer;

    transition: 0.3s;
    max-height: 170px;

}

.new-tag {
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(255, 56, 56);
    padding: 10px 20px 10px 25px;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 900;
    font-family: 'Alata';
    margin-top: -15px;
    margin-left: -30px;
    color: rgb(255, 255, 255);
    transform: rotate(-7deg);
}

.new-tag span {
    text-transform: uppercase;
    letter-spacing: 8px;
}

.product-thumb {
    width: 400px;
    max-width: 400px;
    overflow: hidden;
    border-radius: 5px 0px 0px 5px;
}
.product-thumb img {
    width: 400px;
    margin-top: -30px;
    margin-left: -17px;
}

.product-right-tab {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 30px;
}

.product-right-tab .product-info {
    max-width: 350px;
    margin-right: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product-right-tab .product-info h2 {
    margin-bottom: 20px;
}
.featured-product-template .product-see-more {
    transform: scale(1.3);
}



/*  */
.center-line{
    border-left: 1px solid rgb(221, 221, 221);
}
/*  */

.home-youtube-preview h1{
    font-family: 'Alata';
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: rgb(146, 146, 146);
}
.home-youtube-preview h2{
    font-size: 18px;
    font-family: 'Didact Gothic';
    font-weight: 700;
    background: black;
    padding: 5px 10px 10px;
    width: 240px;
    text-align: center;
    margin-bottom: -10px;
    color: white;
}
.youtube-videos-preview{
    display: flex;
    flex-direction: column;
}
.youtube-video{
    margin: 10px 0px;
}
.youtube-video img{
    width: 300px;
    border: 5px solid rgb(0, 0, 0);
    cursor: pointer;
}

.attention-message {
    display: flex;
    align-items: center;
    max-width: 700px;
    margin: auto;
    font-family: 'Alata';
    background: rgb(246, 246, 164);
    padding: 30px 40px;
    border-radius: 5px;
    border: 1px solid rgb(243, 233, 146);
}
.attention-message-icon {
    transform: scale(1.6);
    margin-right: 30px;
    fill: rgb(0, 0, 0);
}

.form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1200px;
    margin: 100px auto;
    padding: 40px 20px;
    background: rgb(243, 243, 243);
    border-radius: 10px;
}
.form form{
    display: flex;
    flex-direction: column;
    padding: 50px 30px;
    font-family: 'Didact Gothic';
}
.receive-form{
    width: 60%;
}
.acess-code-receive{
    display: flex;
    flex-direction: column;
}

.reedem-form {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 50%;
    margin: 50px auto;
    font-family: 'Alata';
    border-radius: 5px;

    padding: 30px;
}

#acess-code-input {
    margin-top: 10px;
    padding: 10px 10px;
    background: #e9e9e9;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: 0.4s;
}

.acess-code-reedem{
    display: flex;
    flex-direction: column;
}


.input-below {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-below-info {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    float: right;
    margin-left: 10px;
}

.input-below-info span {
    max-width: 305px;
    margin-left: 5px;
    text-align: right;
}

#button-submit-acess-code {
    border: none !important;
    background: black !important;
    color: white !important;
    width: 200px !important;
    max-width: 200px !important;
    margin-right: 20px !important;
}

.input-below-info {
    display: flex;
    color: lightgray;
    fill:  lightgray;
}


.dont-have-access {
    position: relative;
}
.dont-have-access span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    font-family: 'Alata';
    justify-content: center;
    margin: -24px auto;
    width: 300px;
    border-radius: 5px;
    padding: 10px;
    font-weight: 100;
    font-size: 18px;
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
}

.attention-message-request {
    display: flex;
    align-items: center;
    max-width: 500px;
    margin: auto;
    font-family: 'Alata';
    background: rgb(0, 0, 0);
    color: white;
    padding: 30px;
    border-radius: 5px;
}
.attention-message-request .attention-message-icon {
    margin-right: 20px;
    fill: rgb(255, 255, 255);
}

.form-access-code {
    display: none;

    flex-direction: column;

    width: 50%;
    margin: auto;
    padding: 30px;
    font-family: 'Alata';
}

.form-access-code form {
    width: 100%;
}

#request-button {
    margin: auto;
    width: 300px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    background: black;
    border: none;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-family: 'Alata';
    color: white;
    padding: 20px 30px;
}

.form-access-code form input,
.form-access-code form textarea {
    margin-top: 10px;
    padding: 10px 10px;
    border: none;
    background: #e9e9e9;
    border-radius: 5px;
}

.form-access-code form button {
    border: none !important;
    background: black !important;
    color: white !important;
    width: 200px !important;
    padding: 10px 30px;
    border-radius: 5px;
    max-width: 200px !important;
    margin-right: 20px !important;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.form form h2{
    font-family: 'Alata';
}
.form form h3{
    font-size: 20px;
}
.form form span{
    font-weight: 700;
    margin: 10px 0px;
}
.form form input,
.form form select{
    background: none;
    border: 1px solid rgb(161, 161, 161);
    padding: 10px 10px;
    border-radius: 5px;
    font-weight: 700;
}
.form form select{
    margin: 5px 0px;
    width: 100%;
}
.form form select option{
    background: black;
    color: white;
}
.form form select option:hover{
}
.form form textarea{
    background: none;
    border: 1px solid rgb(161, 161, 161);
    padding: 10px 10px;
    border-radius: 5px;
    font-weight: 700;
    resize: none;
}
.form form input::placeholder,
.form form textarea::placeholder{
    color: rgb(192, 192, 192);
    font-weight: 500;
}

.form form button,
#button-submit-acess-code{
    width: 100px;
    padding: 10px;
    border-radius: 5px;
    font-size: 13px;
    border: 1px solid rgb(161, 161, 161);
    background: none;
    font-weight: 700;
    letter-spacing: 2px;
    color: rgb(0, 0, 0);
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.2s ease-in;
    font-family: 'Alata';
}
.form form button:hover,
#button-submit-acess-code:hover{
    background: black;
    color: white;
    border: 1px solid black;
}
.form .help{
    padding: 50px 30px;
    margin: 80px 0px;
}
.help .help-icon{
    background: rgb(216, 103, 103);
    width: 50px;
    padding: 15px 10px;
    transform: translateY(30px) translateX(-20px);
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
    color: rgb(0, 0, 0);
}
.help .help-message{
    background: rgb(0, 0, 0);
    padding: 40px 30px 30px;
    width: 500px;
    font-weight: 700;
    color: white;
    border-radius: 5px;
    font-family: 'Alata';
}
.arrow-left {
    transform: translateY(200px);
    margin-left: -10px;
    width: 0; 
    height: 0; 
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent; 
    border-right:20px solid rgb(0, 0, 0); 
}

/* Acess Code */

.acesscode-alerts {
    max-width: 600px;
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 20px;
}
.error-message{
    background: rgb(255, 100, 100);
    border: 1px solid rgb(255, 56, 56);
    font-family: 'Alata';
    font-weight: 700;
    font-size: 16px;
    color: black;
    padding: 20px 30px;
    border-radius: 5px;
}
.success-message{
    background: rgb(109, 236, 148);
    font-family: 'Alata';
    font-weight: 700;
    color: black;
    padding: 20px;
    border-radius: 5px;
}
.reload-icon{
    animation: reload 5s infinite;
}

footer span{
    padding: 70px 20px;
    font-family: 'Alata';
    color: rgb(156, 156, 156);
}

#alert-message{
    position: fixed;
    bottom: 0;
    z-index: 3;
    background: rgb(0, 0, 0);
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    color: white;
    font-family: 'Alata';
    animation: motionfade 0.6s;
}
.close-button-alert-message{
    font-family: 'Kiona';
    cursor: pointer;
}
.close-button-alert-message:hover{
    color: rgb(216, 103, 103);
}

/* ANIMAÇÃO */
@keyframes motionfade{
    from{
        transform: translateY(-10%);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes infinityplaning{
    0%{
        transform: translateY(-5px) rotate(3deg);
    }
    25%{
        transform: translateY(5px) rotate(3deg);
    }
    50%{
        transform: translateY(-5px) rotate(3deg);
    }
    75%{
        transform: translateY(5px) rotate(3deg);
    }
    100%{
        transform: translateY(-5px) rotate(3deg);
    }
}

@keyframes reload{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(720deg);
    }
}

/* TEMPLATE */
.template-product-container{
    width: 90%;
    margin: 0px auto;
    padding-bottom: 70px;
}
.template-product-card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
}

.template-image-slider {
    transform: rotate(3deg);
}

.template-product-card-left {
    margin-top: 40px;
}
.template-product-card-left img{
    width: 300px;
   
}
.template-product-card-right{
    background: rgb(10, 10, 10);
    color: white;
    padding: 25px 40px;
    height: 100%;
    padding-left: 300px;
    border-radius: 15px;
    margin-left: -400px;
    margin-top: 40px;
    width: 800px;
    overflow: hidden;
}
.template-product-card-right-info{
    display: flex;
    flex-direction: column;
    text-align: right;
    margin: auto;
}
.template-product-card-right-info h1{
    font-family: 'Alata';
    font-weight: 700;
    font-size: 44px;
    color: rgb(255, 255, 255);
}
.template-product-card-right-title span{
    font-family: 'Didact Gothic';
    color: rgb(170, 170, 170);
    font-size: 22px;
    margin: 10px 0px;
    float: left;
}
.price{
    margin-bottom: 30px;
}
.price span{
    text-decoration: line-through;
    font-family: 'Alata';
    font-size: 20px;
    color: rgb(68, 68, 68);
}
.price h3 strong{
    font-size: 34px;
    font-family: 'Alata';
    font-weight: 700;
}

#paypal-button-container {
    width: 250px;
    float: right;
}

.template-product-card-right-info h6{
    font-family: 'Alata';
    font-size: 10px;
    margin: 5px 10px;
    color: rgb(68, 68, 68);
}
.product-information{
    position: relative;
    bottom: 0;
    margin-top: 300px;
    margin-left: 280px;
}
.template-product-card .information-icon{
    background: rgb(255, 255, 255) !important;
    width: 50px;
    font-size: 20px;
    padding: 15px;
    text-align: center;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    margin-top: -20px;
    margin-left: -30px;
    position: absolute;
}
.template-product-card .information-message{
    background: rgb(238, 238, 238);
    padding: 30px;
    border-radius: 5px;
    width: 400px;
    margin-right: -50px;
}
.information-message h1{
    font-family: 'Alata';
    font-size: 24px;
    font-weight: 700;
}
.product-compatibility h5{
    font-family: 'Didact Gothic';
    font-size: 14px;
    margin: 10px 0px 20px;
}
.product-compatibility img{
    width: 20px;
    margin-left: 5px;
}
.information-message span{
    font-family: 'Didact Gothic';
    font-size: 17px;
}

/* IMAGE SLIDER */

.img-comp-container {
    position: relative;
   
  }
  
  .img-comp-img {
    position: absolute;
    width: auto;
    height: auto;
    overflow: hidden;
  }
  
  .img-comp-img img {
    width: 400px;
    display: block;
    vertical-align: middle;
  }
  
.img-comp-slider {
    background-size: 60%;
    background-position-x: 50%;
    background-position-y: 50%;
    position: absolute;
    z-index: 9;
    top: 0;
    bottom: 0;
    cursor: grab;
    /*set the appearance of the slider:*/
    width: 40px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    opacity: 0.7;
    border-radius: 50%;
    box-shadow: 0px 0px 30px rgb(88, 88, 88);
  }
  .img-comp-slider:active{
      cursor: grabbing;
  }



/* JERSEY */
.jersey-product-container{
    width: 90%;
    margin: 0px auto;
    padding-bottom: 70px;
}
.jersey-product-card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
}
.jersey-product-card-left{
    background: url('../imgs/products/jersey/g2jerseybackground.png') no-repeat;
    background-size: cover;
    padding: 100px;
    height: 650px;
    width: 500px;
    border-radius: 10px;
}
.jersey-product-card-left img{
    width: 400px;
    position: absolute;
    margin-left: -50px;
    margin-top: -20px;
    animation: infinityplaning 10s infinite ease-in-out;
}
.jersey-product-card-right{
    background: rgb(10, 10, 10);
    color: white;
    padding: 50px;
    height: 100%;
    padding-left: 300px;
    border-radius: 40px;
    margin-left: -300px;
    margin-top: 110px;
    overflow: hidden;
}
.jersey-product-card-right-info{
    display: flex;
    flex-direction: column;
    text-align: right;
    margin: auto;
}
.jersey-product-card-right-info h1{
    font-family: 'Alata';
    font-weight: 700;
    font-size: 44px;
    color: rgb(216, 103, 103);
}
.jersey-product-card-right-info span{
    font-family: 'Didact Gothic';
    font-size: 22px;
    margin: 10px 0px;
}
.price{
    margin-bottom: 30px;
}
.price span{
    text-decoration: line-through;
    font-family: 'Alata';
    font-size: 20px;
    color: rgb(68, 68, 68);
}
.price h3 strong{
    font-size: 34px;
    font-family: 'Alata';
    font-weight: 700;
}
.jersey-product-card-right-info button{
    background: rgb(209, 81, 81);
    border: none;
    padding: 10px 20px;
    font-weight: 700;
    width: 200px;
    border-radius: 5px;
    margin: auto;
}
.jersey-product-card-right-info h6{
    font-family: 'Alata';
    font-size: 10px;
    margin: 5px 10px;
    color: rgb(68, 68, 68);
}
.product-information{
    position: relative;
    bottom: 0;
    margin-top: 300px;
    margin-left: 280px;
}
.information-icon{
    background: rgb(216, 103, 103);
    width: 50px;
    font-size: 20px;
    padding: 15px;
    text-align: center;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    margin-top: -20px;
    margin-left: -30px;
    position: absolute;
}
.information-message{
    background: rgb(230, 229, 229);
    padding: 30px;
    border-radius: 5px;
    width: 400px;
    margin: 0px -10px;
}
.information-message h1{
    font-family: 'Alata';
    font-size: 24px;
    font-weight: 700;
}
.product-compatibility h5{
    font-family: 'Didact Gothic';
    font-size: 14px;
    margin: 10px 0px 20px;
}
.product-compatibility img{
    width: 20px;
}
.information-message span{
    font-family: 'Didact Gothic';
    font-size: 17px;
}

/* wallpaper */
.wallpaper-product-container{
    width: 90%;
    margin: 0px auto;
    padding-bottom: 70px;
}
.wallpaper-product-card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
}
.wallpaper-product-card-left{
    background: url('../imgs/products/wallpaper/wzbackgroung.png') no-repeat;
    background-size: cover;
    padding: 100px;
    background-position-y: -200px;
    height: 650px;
    width: 500px;
    border-radius: 10px;
}
.wallpaper-product-card-left img{
    width: 1100px;
    position: absolute;
    margin-left: -400px;
    margin-top: -70px;
    animation: infinityplaning 10s infinite ease-in-out;
}
.wallpaper-product-card-right{
    background: rgb(10, 10, 10);
    color: white;
    padding: 50px;
    height: 100%;
    padding-left: 300px;
    border-radius: 40px;
    margin-left: -300px;
    margin-top: 110px;
}
.wallpaper-product-card-right-info{
    display: flex;
    flex-direction: column;
    text-align: right;
    margin: auto;
}
.wallpaper-product-card-right-info h1{
    font-family: 'Alata';
    font-weight: 700;
    font-size: 44px;
    color: #d1a651;
}
.wallpaper-product-card-right-info span{
    font-family: 'Didact Gothic';
    font-size: 22px;
    margin: 10px 0px;
}

.wallpaper-product-card-right-info h6{
    font-family: 'Alata';
    font-size: 10px;
    margin: 5px 10px;
    color: rgb(68, 68, 68);
}

/* streampack */
.streampack-product-container{
    width: 90%;
    margin: 0px auto;
    padding-bottom: 70px;
}
.streampack-product-card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
}
.streampack-product-card-left{
    background: url('../imgs/products/streampack/streampackbackground.png') no-repeat;
    background-size: cover;
    padding: 100px;
    height: 650px;
    width: 500px;
    border-radius: 10px;
}
.streampack-product-card-left img{
    width: 500px;
    position: absolute;
    margin-left: -100px;
    margin-top: -25px;
    animation: infinityplaning 10s infinite ease-in-out;
}
.streampack-product-card-right{
    background: rgb(10, 10, 10);
    color: white;
    padding: 50px;
    height: 100%;
    padding-left: 300px;
    border-radius: 40px;
    margin-left: -300px;
    margin-top: 110px;
}
.streampack-product-card-right-info{
    display: flex;
    flex-direction: column;
    text-align: right;
    margin: auto;
}
.streampack-product-card-right-info h1{
    font-family: 'Alata';
    font-weight: 700;
    font-size: 44px;
    color: #3d2df4;
}
.streampack-product-card-right-info span{
    font-family: 'Didact Gothic';
    font-size: 22px;
    margin: 10px 0px;
}

.streampack-product-card-right-info h6{
    font-family: 'Alata';
    font-size: 10px;
    margin: 5px 10px;
    color: rgb(68, 68, 68);
}

@keyframes waveanimation{
    0% {
        d:path("M826.337463,25.5396311 C670.970254,58.655965 603.696181,68.7870267 447.802481,35.1443383 C293.342778,1.81111414 137.33377,1.81111414 0,1.81111414 L0,150 L1920,150 L1920,1.81111414 C1739.53523,-16.6853983 1679.86404,73.1607868 1389.7826,37.4859505 C1099.70117,1.81111414 981.704672,-7.57670281 826.337463,25.5396311 Z")
    }
    50% {
        d:path("M655.558582,28.4898877 C500.191373,61.6062216 422.833785,83.5422763 266.940085,49.8995879 C112.480383,16.5663637 84.0992497,8.02840272 0,44.7243294 L0,150.727527 L1920,150.727527 L1920,49.8995879 C1580.91676,-34.8808285 1438.10804,73.6768193 1148.0266,38.0019829 C857.945166,2.32714659 810.925791,-4.62644617 655.558582,28.4898877 Z")
    }
    to {
        d:path("M842.322034,38.0019829 C686.954825,71.1183168 623.386282,53.08497 467.492582,19.4422816 C313.032879,-13.8909426 84.0992497,8.02840272 0,44.7243294 L0,150.727527 L1920,150.727527 L1920,76.8685643 C1512.23604,-35.3595639 1568.70222,67.4289432 1278.62078,31.7541069 C988.539347,-3.92072949 997.689243,4.88564905 842.322034,38.0019829 Z")
    }
}
