<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1920">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PORMAZION</title>
    <link rel="fav icon" href="../src/imgs/logo.png">
    <link rel="stylesheet" href="../src/style/style.css">
    <link href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"  rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<section>
    <!-- <div class="maintenance-message-alert">
        <img src="../src/imgs/cleanup-img.png">
        <h1>Ooops... We are doing some changes. Be right back!!</h1>
        <span>Would you like make your own t-shirts? Check the button below!!</span>
        <a href="https://pormazion.github.io/templatestore/imgs/index.html" target="_blank">Template Store</a>
    </div> -->

    <nav class="navbar">
        <div class="navbar-container">
            <div class="navbar-logo">
                <img src="../src/imgs/logo.png">
            </div>
        
            <div class="navbar-link">
                <ul>
                    <li><a href="../../index.html">Home</a></li>
                    <li><div class="dropdown">
                        <button class="dropbtn">Products</button>
                        <div class="dropdown-content">
                            <div class="product-list-jersey">
                                <span>T-Shirt</span>
                                <a href="../templates/jersey.html">Jersey</a>
                                <a href="../templates/templates.html">Template & Mockup</a>
                                <br>
                                <span>Product Design</span>
                                <a href="#">Stream Pack</a>
                                <a href="../templates/wallpapers.html">Gaming Wallpaper</a>
                                <br>
                                <span>Other Service</span>
                                <a href="orderform.html">Ask for a product</a>
                            </div>
                        </div>
                    </div>
                    </li>
                    <li><a href="contact.html">Contact</a></li>
                    <li class="navbar-download-product" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="500"><a href="core/templates/reedem.html">Download your product!</a></li>
                </ul>
            </div>
        </div>
    </nav>


</section>

<section class="header">
    <div class="header-title">
        <h1><strong>Pre-Order</strong></h1>
        <h3>Use this form below to complete your pre-order!</h3>
    </div>

    <div class="form">
        <form
        action="https://formspree.io/mlepovgo"
        method="POST">
        <h2><strong>Do your Pre-Order here!</strong></h2>
        <h3>This pre-order form is for you to inform our team of designers the type of product you are about to buy. Before you buy something, send us a message!</h3>
        <br>
        <span>Your email:</span>
        <input type="email" name="_replyto" placeholder="youremail@domain" required>
        <br>
        <fieldset id="fs-frm-selects">
            <span>Select product:</span>
            <br>
            <label for="timely"></label>
            <select name="timely" id="timely" required>
              <option selected="" disabled="">Choose an option</option>
              <option value="jersey">Jersey</option>
              <option value="mockup e template">Mockup & Template</option>
              <option value="stream pack">Stream Pack</option>
              <option value="wallpaper">Gaming Wallpaper</option>
              <option value="other">Other</option>
            </select>
        </fieldset>
        <br>
        <span>Additional information:</span>
        <textarea name="message" rows="5" cols="50" placeholder="I will buy a black tshirt to my esports team..." required></textarea>
        </label>
        <br>
        <button type="submit">Send</button>
      </form>

        <div class="help">
            <div class="arrow-left"></div>
            <div class="help-icon"><i class="fas fa-info"></i></div>
            <div class="help-message">   
            This form serves to facilitate our communication. In it you inform your email and a message saying what type of product you will buy. After confirming your message in a few days I will return you to answer trhough the email registered here!
            </div>
        </div>
    </div>

</section>

<footer><span id="footer-info">All rights reserved, 2020 © PORMAZION.</span></footer>


<!-- <div id="alert-message">
    <span>This website is a lite and temporary version. We are still working in it!</span>
    <span class="close-button-alert-message" onclick="closeAlertMessage()">X</span>
</div> -->


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

<script>
    AOS.init();
</script>

<script>
    function closeAlertMessage(){
        document.getElementById('alert-message').style.display = 'none';
        document.getElementById('footer-info').style.padding = '20px';
    }
</script>

</body>
</html>
